@font-face {
    font-family: 'Nativera';
    src: url('./nativera-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    font-family: 'Nativera', sans-serif;
    color: whitesmoke;
    font-size: 2rem;
    overflow: hidden;
}